@model DotNetCoreSqlDb.UserType

@{
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up / Create Your Team</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Member1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Member1" class="form-control" />
                    <span asp-validation-for="Member1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Member2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Member2" class="form-control" />
                    <span asp-validation-for="Member2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Member3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Member3" class="form-control" />
                    <span asp-validation-for="Member3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Member4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Member4" class="form-control" />
                    <span asp-validation-for="Member4" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Member5" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Member5" class="form-control" />
                    <span asp-validation-for="Member5" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Member6" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Member6" class="form-control" />
                    <span asp-validation-for="Member6" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
